body {
  font-family: 'Titillium Web', sans-serif;
}

header {
  background-color: #d3ccc4;
  padding: 20px;
  text-align: left;
  font-size: 35px;
  color: black;
  line-height: 30px
}

h3 {
  padding: 0px;
  padding-top: 5px;
  border: 0px;
  margin: 0px;
}

div {
  float: left;
  padding: 20px;
  background-color: #b37383;
  color: white;
  width: 100%;
}

footer {
  padding: 20px;
  /* background-color: #b37383; */
  text-align: left;
  color: darkslategray;
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}
