body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #d3ccc4;
  padding: 10px;
  text-align: left;
  font-size: 35px;
  color: white;
}

section {
  float: left;
  padding: 40px;
  background-color: #b37383;
  color: white;
}
