<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Wilt Environment</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <hr style="border: 8px solid darkslategray; width: 100%; padding: 0px; margin: 0px">
  <header>
    <h3>The Wilt Environment</h3>
    <i style="color:darkslategrey; font-size: medium; padding-left: 10px">
      Not a frontend developer
    </i>
  </header>

  <hr style="border: 1px solid darkslategray; width: 100%; padding: 0px; margin: 0px">
  
  <div>
    Hello? World?<br>
    WTF are you doing?<br>
    <em>Stop it!</em>
  </div>

  <hr style="border: 1px solid darkslategray; width: 100%; padding: 0px; margin: 0px">

  <footer>
    <small>
    This 'site' is brought to you by Google Cloud Run.<br>
    <a href="https://github.com/lwilts/wiltsite">Source</a>
    </small>
  </footer>

</body>
</html>
