<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Wilt Environment</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <h2>The Wilt Environment</h2>
  </header>

  <div>
    Hello? World?<br>
    WTF are you doing?<br>
    <em>Stop it!</em>
  </div>

  <footer>
    <hr style="border: 1px solid #d3ccc4;">
    <br>
    This 'site' is brought to you by Google Cloud Run.<br>
    <a href="https://github.com/lwilts/wiltsite">Source</a>
  </footer>

</body>
</html>
