<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Wilt Environment</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <h1>The Wilt Environment</h1>
    <p class="subtitle">Not a frontend developer</p>
  </header>
  
  <main>
    <section class="content">
      <p>Hello? World?</p>
      <p>WTF are you doing?</p>
      <p><em>Stop it!</em></p>
    </section>
  </main>

  <footer>
    <small>This 'site' is brought to you by Google Cloud Run.<br>
    <a href="https://github.com/lwilts/wiltsite">Source</a></small>
  </footer>
</body>
</html>
